{% if language == 'Node' %}
sudo apt-get -y install npm
sudo npm install -g nodemon
cd ./src
npm install
{% endif %}
{% if language == 'Python' %}
sudo apt-get install -y python3-pip
cd ./src
pip3 install -r requirements.txt
{% endif %}
{% if language == 'Ruby' %}
sudo apt-get install -y rubygems
cd ./src
sudo gem install bundler
sudo gem install sinatra
sudo gem install thin
sudo gem install puma
sudo gem install reel
sudo gem install http
sudo gem install webrick
sudo gem install sinatra-contrib
bundle install
{% endif %}