version: '3.7'
services:
  web:
    build:
      context: ./
      dockerfile: ./images/Dockerfile
    container_name: web
    volumes:
     - './src/:/app/:rw'
    ports: 
      - "{{ports}}"
    {% if has_db %}
    links:
        - db
    {% endif %}
    {% if has_db %}
    db:
        image: {{ db_image }}
        ports:
            - "{{db_ports}}"
    {% endif %}